html {
  overflow-x: hidden;
}
body {
  font-family: "HeliosExtLightC";
  background-color: $bg;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  &.overflow {
    overflow: hidden;
  }
}
a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 35px;
  position: relative;
  @media (max-width: 767px) {
    padding: 0 21px;
  }
}
.fixed-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
  &::first-letter {
    text-transform: uppercase;
  }
  @media (max-width: 1439px) {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  @media (max-width: 767px) {
    font-size: 7px;
    line-height: 120%;
    left: 21px;
  }
}
.fixed-link-once {
  position: absolute;
  top: 0;
  left: 35px;
}
.title {
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;

  color: #ffffff;
  display: flex;
  flex-direction: column;
  & div {
    overflow: hidden;
    height: 65px;
  }
  & div > span {
    display: block;
  }
  div:first-child > span {
    text-indent: 226px;
  }

  @media (max-width: 1439px) {
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    & div {
      height: 44px;
    }
  }
  @media (max-width: 767px) {
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    & div {
      height: 24px;
    }
    div:first-child > span {
      text-indent: 100px;
    }
  }
}
.content {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}
.wrapper {
  position: relative;
  height: fit-content;
  &::before {
    content: "";

    z-index: -1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    width: 1389px;
    height: 2096px;
    background: url(../img/Fon_section.png) no-repeat right / cover;
    @media (max-width: 767px) {
      top: -20px;
      background: url(../img/Fon_section.png) no-repeat right / contain;
      transform: translateY(0);
      width: 600px;
      height: 600px;
    }
  }
}
.head {
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 94.5%;

  color: #ffffff;
  @media (max-width: 1439px) {
    font-size: 80px;
    line-height: 94.5%;
  }
  @media (max-width: 767px) {
    font-size: 34px;
    line-height: 100%;
  }
}
.descr {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  @media (max-width: 1439px) {
    font-size: 15px;
    line-height: 120%;
  }
  @media (max-width: 767px) {
    font-size: 13px;
    line-height: 120%;
  }
}
