.about-us {
  position: relative;

  padding-top: 76px;
  padding-bottom: 125px;

  min-height: 825px;
  &__block {
    grid-column: 3/-1;
    max-width: 703px;
  }
  &__content {
  }
  &__text {
    grid-column: 2/-1;
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    max-width: 1024px;
    color: #ffffff;
  }
  &__title {
    margin-bottom: 55px;
  }
  &__right {
    max-width: 703px;
    margin-bottom: 213px;
  }
}
@media (max-width: 1439px) {
  .about-us {
    min-height: auto;
    padding-top: 56px;
    padding-bottom: 134px;
    &__right {
      max-width: 478px;
      margin-bottom: 91px;
    }
    &__text {
      max-width: 600px;
      font-size: 50px;
    }
  }
}
