.first-block {
  padding-top: 35px;
  margin-bottom: 54px;
  min-height: 825px;
  height: var(--app-height);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__navigation {
    z-index: 100;
    position: fixed;
    bottom: 175px;
    left: 35px;
  }
  &__text {
    max-width: 308px;
    margin: auto 0 70px auto;
    color: #fff;
  }
  &__spin {
    font-weight: 300;
    font-size: 87px;
    line-height: 106px;
    text-align: center;
    color: #ffffff;
  }
}

@media (max-width: 1439px) {
  .first-block {
    &__text {
      font-weight: 300;
      font-size: 15px;
      line-height: 21px;
      max-width: 238px;
    }
    &__spin {
      font-weight: 300;
      font-size: 62px;
      line-height: 76px;
    }
  }
}
