.first-block {
  padding-top: 35px;
  min-height: 800px;
  height: 100vh;
  border: 1px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__navigation {
    position: fixed;
    bottom: 175px;
    left: 35px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
  }
  &__text {
    max-width: 308px;
    margin: auto 0 70px auto;
    color: #fff;
  }
  &__spin {
    font-weight: 300;
    font-size: 87px;
    line-height: 106px;
    text-align: center;
    color: #ffffff;
  }
}
