.line {
  height: 1px;

  position: relative;

  &--little {
    grid-column: 1/2;
  }
  &--big {
    grid-column: 1/3;
  }
  @media (max-width: 1439px) {
    &--little {
      width: 148px;
    }
  }
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: 450px !important;
  height: 1px !important;
}
.swiper-pagination-progressbar {
  background-color: #3a3a3a !important;
}
