.line {
  height: 1px;

  position: relative;

  &--little {
    grid-column: 1/2;
  }
  &--big {
    grid-column: 1/3;
  }
  @media (max-width: 1439px) {
    &--little {
      width: 148px;
    }
  }
}
