.mission {
  padding-top: 65px;

  min-height: 825px;
  &__grid-link {
    grid-column: 1/3;
  }
  &__right {
    max-width: 703px;
    margin-bottom: 158px;
  }
  &__block {
    max-width: 703px;
    grid-column: 3/-1;
  }
  &__title {
    margin-bottom: 75px;
  }
  &__content {
    & > p + p {
      margin-top: 25px;
    }
  }
}
@media (max-width: 1439px) {
  .mission {
    min-height: 762px;

    &__title {
      margin-bottom: 55px;
    }
    &__right {
      max-width: 478px;
      margin-bottom: 179px;
    }
  }
}
