.product {
  padding: 100px 0 80px 0;

  min-height: 825px;
  &__title {
    margin-bottom: 40px;
  }
  &__right {
    max-width: 703px;
    margin-bottom: 182px;
  }
  &__text {
    font-weight: 300;
    font-size: 100px;
    line-height: 86%;
    text-indent: 229px;
    color: #ffffff;
    max-width: 1000px;
  }
}
@media (max-width: 1439px) {
  .product {
    padding-bottom: 0;
    &__right {
      max-width: 544px;
      margin-bottom: 320px;
      p.descr {
        max-width: 420px;
      }
    }
    &__title {
      margin-bottom: 52px;
    }
    &__text {
      font-size: 80px;
      line-height: 89%;

      text-indent: 229px;
    }
  }
}
@media (max-width: 767px) {
  .product {
    min-height: auto;
    &__title {
      margin-bottom: 68px;
    }
    &__text {
      font-size: 30px;
      line-height: 86%;
      text-indent: 0;
    }
    &__right {
      margin-bottom: 134px;
    }
  }
}
