.team {
  padding: 75px 0 54px 0;

  min-height: 825px;
  position: relative;

  &__about {
    margin-top: 159px;
  }
  .container {
    padding-right: 0;
  }
  &__slider {
    max-height: 600px !important;
  }
  &__right {
    overflow: hidden;
  }
  &__about-name {
    font-weight: 300;
    font-size: 45px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 60px;
  }
  &__about-work {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 50px;
  }

  &__head {
    margin-bottom: 80px;
    overflow: hidden;
  }
  &__navigation {
    z-index: 1000;
    width: calc(100% - 70px);
    position: absolute;
    top: 80%;

    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1439px) {
  .team {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 74px;
    &__head {
      margin-bottom: 80px;
    }
    /* Временно */

    &__about-name {
      font-weight: 300;
      font-size: 30px;
      margin-bottom: 30px;
    }
    &__about-work {
      font-size: 15px;
      line-height: 120%;
      margin-bottom: 40px;
    }
    &__navigation {
      display: none;
    }
    .swiper-slide {
      img {
        width: 280px;
      }
    }
  }
}
@media (max-width: 767px) {
  .team {
    padding-top: 65px;
    &__head {
      margin-bottom: 49px;
    }
    &__grid {
      display: flex;
      flex-direction: column;
      &-link {
        order: 2;
      }
    }
    &__right {
      order: 1;
    }
    &__about {
      margin-top: 45px;
      &-name {
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 21px;
      }
      &-work {
        font-size: 10px;
        line-height: 120%;
      }
    }
    .fixed-link-once {
      display: none;
    }
    .line--little {
      top: 630px !important;
      left: 21px !important;
      width: calc(100% - 42px) !important;
    }
  }
}
.team__grid {
  .swiper-wrapper {
    min-height: auto;
  }
}
@media (max-width: 424px) {
  .team {
    .swiper-slide {
      img {
        width: 156px;
      }
    }
    .line--little {
      top: 470px !important;
    }
  }
}
